{{> "modules/cp2020-augmented/templates/actor/parts/armor-display.hbs" hitLocations=system.coverage edit=true hitLocsName="coverage"}}
<div class="field-list one-col">
    {{> (template "fields/number") label="Encumbrance" edit="system.encumbrance"}}
</div>